<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 4%">
            <div id="form1">
                <a href="/courses/<%= course.category %>">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony kategorii <%= course.category %>
                </a>
                <h1 class="login">Edytuj termin kursu kategorii <%= course.category %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <form action="/courses/<%= course._id %>/events/<%= event._id %>?_method=PUT" method="post">
                    <p class="username">Edytuj miasto</p>
                    <select name="event[city]" class="form-control">
                        <option><%= event.city %></option>
                        <option>Głogów</option>
                        <option>Wschowa</option>


                    </select>
                    <br>

                    <p class="info">Edytuj datę</p>
                    <input type="date" name="event[date]" value="<%= event.date %>" class="form-control">
                    <br>
                    <p class="info">Edytuj czas</p>
                    <input type="time" name="event[time]" value="<%= event.time %>" class="form-control">
                    <br>

                    <input type="submit" value="Edytuj termin" class="btn btn-primary button btn-gradient">
                    <input type="reset" value="Wyczyść" class="btn btn-dark button btn-black">
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>