<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 4%">
            <div id="form1">
                <a href="/courses/<%= course.category %>">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony kategorii <%= course.category %>
                </a>
                <h1 class="login">Dodaj nowy termin kursu kategorii <%= course.category %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <form action="/courses/<%= course._id %>/events" method="post">
                    <p class="username">Wybierz miasto</p>
                    <select name="office" class="form-control" required>
                        <% offices.forEach((office) => { %>
                            <option value="<%= office._id %>"><%= office.city %></option>
                        <% }) %>
                    </select>
                    <br>

                    <p class="username">Wpisz/wybierz datę</p>
                    <input type="date" name="date" placeholder="Data" class="form-control" required>
                    <br>
                    <p class="username">Wpisz czas</p>
                    <input type="time" name="time" placeholder="Czas" class="form-control" required>
                    <br>
                    
                    <input type="submit" value="Dodaj termin" class="btn btn-primary button btn-gradient">
                    <input type="reset" value="Wyczyść" class="btn btn-dark button btn-black">
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>