<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 12%">
            <div id="form1">
                <a href="/gallery/<%= gallery._id %>">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do podstrony <%= gallery.title %>
                </a>
                <h1 class="login">Edytuj galerię <%= gallery.title %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <form action="/gallery/<%= gallery._id %>?_method=PUT" method="post">

                    <p class="username">Edytuj nazwę galerii</p>

                    <input type="text" name="gallery[title]" placeholder="Tytuł galerii" value="<%= gallery.title %>"
                        class="form-control">
                    <br>
                    <p class="username">Edytuj, gdzie ma się znaleźć</p>
                    <select name="type" class="form-control">
                        <option><%= gallery.type %></option>
                        <option value="car">Samochody</option>
                        <option value="motorcycle">Motocykle</option>
                        <option value="all">Na obydwu stronach</option>


                    </select>
                    <br>

                    <input type="submit" value="Edytuj galerię" class="btn btn-primary button btn-gradient">
                    <input type="reset" value="Wyczyść" class="btn btn-dark button btn-black">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>