<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 17%">
            <div id="form1">
                <a href="/gallery/<%= gallery._id %>">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do podstrony <%= gallery.title %>
                </a>
                <h1 class="login">Edytuj zdjęcie główne <%= gallery.title %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <form action="/gallery/<%= gallery._id %>/edit/profile" method="post" enctype="multipart/form-data">


                    <p class="username">Edytuj zdjęcie główne</p>
                    <input type="file" name="profile">
                    <br>
                    <br>
                    <input type="submit" value="Edytuj zdjęcie główne" class="btn btn-danger button btn-gradient">
                    <input type="reset" value="Wyczyść" class="btn btn-dark button btn-black">
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>