<%- include("../partials/header") %>

<div class="galleries">
    <% galleries.forEach((gallery) => { %>
        <div class="img__wrap gallery">
            <img src="<%= gallery.profile %>" alt="<%= gallery.title %>" class="img-thumbnail" crossorigin />
            <div class="img__description">
                <a href=" /gallery/<%= gallery._id %>">
                    <%= gallery.title %>
                </a>
            </div>
        </div>
    <% }) %>
</div>
        

<script>
    $("#gallery").addClass("active");
</script>
<%- include("../partials/footer") %>