<%- include("../partials/header") %>
<div class="gallery__show">
    <div class="gallery__show-image">
        <img src="<%= gallery.profile %>" alt="<%= gallery.title %>" crossorigin="anonymous">
    </div>
    <div class="gallery__show-info">
        <h2 class="gallery__show-title"><%= gallery.title %></h2>
        <% if(currentUser){ %>
            <div class="dropdown">
                <a class="btn btn-danger dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                    Modyfikacja
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #eeeeee">

                    <a class="dropdown-item" href="/gallery/<%= gallery._id %>/edit">Edytuj tytuł</a>
                    <a class="dropdown-item" href="/gallery/<%= gallery._id %>/delete">Usuń</a>
                    <a class="dropdown-item" href="/gallery/<%= gallery._id %>/add/picture">Dodaj zdjęcie</a>
                    <a class="dropdown-item" href="/gallery/<%= gallery._id %>/edit/profile">Edytuj zdjęcie główne</a>
                    
                </div>
            </div>
            <br>
        <% } %>
        <div class="gallery__show-rest">
            <% for(let i=0;i<gallery.pictures.length;i++){ %>
                <div class="gallery__show-picture">
                    <img src="<%= gallery.pictures[i].link %>" alt="" class="img-thumbnail" crossorigin="anonymous">
                    <% if(currentUser){ %>
                        <br>
                        <a href="/gallery/pictures/<%= gallery.pictures[i]._id %>/delete" class="info text-danger">Usuń zdjęcie</a>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</div>
<script>
    $("#gallery").addClass("active");
</script>
<%- include("../partials/footer") %>