<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-blue" id="name"> 
                    <br>                           
                   Edytuj kurs
                   
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                            <div class="col-lg-12">
                                    
                                    <form action="/course/<%= course._id %>?_method=PUT" method="post">
                                        
                                        <p class="info">Edytuj kategorię</p>
                                        <input type="text" placeholder="Kategoria" name="course[category]" class="form-control" value="<%= course.category %>">
                                           
                                            
                                       
                                        <br>
                                        <p class="info">Edytuj cenę kursu</p>
                                        <input type="number" name="course[price]" value="<%= course.price %>" placeholder="Cena kursu" class="form-control">
                                        <br>
                                        <p class="info">Edytuj cenę dodatkowej godziny</p>
                                        <input type="number" name="course[additionalPrice]" value="<%= course.additionalPrice %>" placeholder="Cena dodatkowej godziny" class="form-control">
                                        <br>
                                        
                                        <div class="d-inline">
                                            <input type="submit" value="Edytuj kurs" class="btn-blue">
                                            <input type="reset" value="Wyczyść" class="btn-blue">
                                        </div>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footera") %>