<%- include("../partials/header") %>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-4 d-md-none d-lg-block" id="side">
            <%- include("../partials/side") %>
        </div>
        <div class="col-lg-8 col-md-12">
                <div class="card" style="background: #eeeeee">
                        <div class="card-title text-center text-blue" id="name">
                            
                            Oferta
                            <br>
                            <span class="school">Kursu prawa jazdy kategorii <strong><%= course.category %></strong></span>
                        </div>
                        <div class="card-body">
                           <span class="title text-blue">Cechy charakterystyczne</span> 
                           <br>
                            <% if(currentUser){ %>
                                <a href="/courses/<%= course._id %>/characteristics/new">Dodaj cechę charakerystyczną</a>
                            <% } %>
                           
                           <% if(course.characteristics.length==0){ %>
                            <div class="alert alert-light">
                                Nie dodaliśmy jeszcze cech charakterystycznych
                            </div>
                           <% } else { %>
                                <ul>
                                    <% for(let i=0;i<course.characteristics.length;i++){ %>
                                        <li class="info"><%= course.characteristics[i].text %></li>
                                        <% if(currentUser){ %>
                                            <a href="/courses/<%= course._id %>/characteristics/<%= course.characteristics[i]._id %>/edit" class="info text-blue" style="font-size: 15px;">Edytuj cechę charakerystyczną</a>
                                            <a href="/courses/<%= course._id %>/characteristics/<%= course.characteristics[i]._id %>/delete" class="info text-blue" style="font-size: 15px;">Usuń cechę charakerystyczną</a>
                                        <% } %>
                                       
                                    <% } %>
                                </ul>
                           <% } %>
                           
                           <span class="title text-blue">Płatności</span>
                            <% if(currentUser){ %>
                                <br>
                                <a href="/courses/<%= course._id %>/installments/new">Dodaj ratę</a>
                            <% } %>
                           <ul>
                               <li class="info">Regularna cena: <strong><ins><%= course.price %>zł</ins></strong> </li>
                               <li class="info">Dodatkowa godzina: <strong><ins><%= course.additionalPrice %>zł</ins></strong> </li>
                               <% if(course.installments.length != 0){ %>
                                    <li class="info">Raty:
                                        <ol>
                                            <% course.installments.forEach((installment) => { %>
                                                <li class="info"><%= installment.amount %>zł</li>
                                                <% if(currentUser){ %>
                                                    <a href="/courses/<%= course._id %>/installments/<%= installment._id %>/edit" class="info text-blue" style="font-size: 15px;">Edytuj ratę</a>
                                                    <a href="/courses/<%= course._id %>/installments/<%= installment._id %>/delete" class="info text-blue" style="font-size: 15px;">Usuń ratę</a>
                                                <% } %>
                                            <% }) %>
                                            
                                        </ol>
                                    </li>
                               <% } %>
                              
                               <li class="info">Wpłat można dokonywać za pomocą przelewu bankowego na konto <strong>09 1140 2004 0000 3402 6477 8965</strong></li>
                           </ul>
                           <span class="title text-blue">Najbliższe terminy</span>
                           <br>
                            <% if(currentUser){ %>
                                <a href="/courses/<%= course._id %>/events/new">Dodaj termin</a>
                            <% } %>
                           
                           <% if(course.events.length === 0){ %>
                                <div class="alert alert-light">
                                    Z powodu koronawirusa zajęcia są odwołane
                                </div>
                           <% } else { %>
                                <ul>
                                    <% for(let i=0;i<course.events.length;i++){ %>
                                        <li class="info">
                                            <strong>
                                                <%= course.events[i].city %></strong>, <%= course.events[i].date %>, <%= course.events[i].time %>
                                            <a href="/applications/new?event_id=<%= course.events[i]._id %>" class="text-blue">Zapisz się</a>
                                            <% if(currentUser){ %>
                                                <br>
                                                <a href="/courses/<%= course._id %>/events/<%= course.events[i]._id %>/delete" class="text-blue">Usuń termin</a>
                                                <a href="/courses/<%= course._id %>/events/<%= course.events[i]._id %>/edit" class="text-blue">Edytuj termin</a>
                                            <% } %>
                                           
                                        </li>
                                    <% } %>
                                   
                                </ul>
                           <% } %>
                           <% if(currentUser){ %>
                            <a href="/courses/<%= course._id %>/edit" class="btn-blue">Edytuj kurs</a>
                            <a href="/courses/<%= course._id %>/add/picture" class="btn btn-success">Dodaj zdjęcie</a>
                            <% } %>
                           <br>
                            <div class="row">
                                <% course.pictures.forEach((picture) => { %>
                                    <div class="col-lg-6 col-md-12 text-center">
                                        <img src="<%= picture.link %>" height="150" width="150" class="rounded">
                                        <% if(currentUser){ %>
                                            <br>
                                            <a href="/gallery/pictures/<%= picture._id %>/delete" class="info text-blue">Usuń zdjęcie</a>
                                        <% } %>
                                    </div>
                                <% }) %>
                            
                                
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
<script>
    $("#offer").addClass("active");
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $("#offer").css("text-decoration", "underline");
    } else {
        $("#offer").css("border-bottom", "1px solid white");
    }
</script>
<%- include("../partials/footer") %>