<%- include("../partials/header") %>
<main class="course">
    <h2 class="course__header">
        Oferta kursu prawa jazdy kategorii <strong><%= course.category %></strong>
    </h2>
    <% if(currentUser){ %>
        <a href="/courses/<%= course._id %>/events/new">Dodaj termin</a>
    <% } %>
   
   <% if(course.events.length === 0){ %>
        <div class="alert alert-light">
            Nie dodaliśmy żadnych wydarzeń
        </div>
   <% } else { %>
    <div id="eventCarousel" class="carousel slide" data-ride="carousel" style="margin: 25px 0;">

        <div class="carousel-inner">
    
            <% course.events.forEach((event, index) => { %>
                <div class="carousel-item text-center <%= index === 0 ? 'active': '' %>">
                    <h3>Najbliższe terminy</h3>
                    <p><%- `<strong>${event.office.city}</strong>, ${event.date} o godz ${event.time}` %></p>
                    <a href="/applications/new?event_id=<%= event._id %>">Zapisz się!</a>
                </div>
            <% }) %>
    
        </div>
        <ol class="carousel-indicators">
            <% course.events.forEach((event, index) => { %>
                <% if(index === 0){ %>
                    <li data-target="#eventCarousel" data-slide-to="<%= index %>" class="active"></li>
                <% } else { %>
                    <li data-target="#eventCarousel" data-slide-to="<%= index %>"></li>
                <% } %>
            <% }) %>
        </ol>
        <a class="carousel-control-prev" href="#eventCarousel" role="button" data-slide="prev">
            <span><i class="fa fa-angle-left carousel-controls" aria-hidden="true"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#eventCarousel" role="button" data-slide="next">
            <span><i class="fa fa-angle-right carousel-controls" aria-hidden="true"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
      
   <% } %>
    <span class="course__subheader">Cechy charakterystyczne</span> 
                           <br>
                            <% if(currentUser){ %>
                                <a href="/courses/<%= course._id %>/characteristics/new">Dodaj cechę charakerystyczną</a>
                            <% } %>
                           
                           <% if(course.characteristics.length==0){ %>
                            <div class="alert alert-light">
                                Nie dodaliśmy jeszcze cech charakterystycznych
                            </div>
                           <% } else { %>
                                <ul>
                                    <% for(let i=0;i<course.characteristics.length;i++){ %>
                                        <li class="course__text"><%= course.characteristics[i].text %></li>
                                        <% if(currentUser){ %>
                                            <a href="/courses/<%= course._id %>/characteristics/<%= course.characteristics[i]._id %>/edit" class="course__text text-danger" style="font-size: 15px;">Edytuj cechę charakerystyczną</a>
                                            <a href="/courses/<%= course._id %>/characteristics/<%= course.characteristics[i]._id %>/delete" class="course__text text-danger" style="font-size: 15px;">Usuń cechę charakerystyczną</a>
                                        <% } %>
                                       
                                    <% } %>
                                </ul>
                           <% } %>
                           
                           <span class="course__subheader">Płatności</span>
                            <% if(currentUser){ %>
                                <br>
                                <a href="/courses/<%= course._id %>/installments/new">Dodaj ratę</a>
                            <% } %>
                           <ul>
                               <li class="course__text">Regularna cena: <strong><ins><%= course.price %>zł</ins></strong> </li>
                               <% if (course.additional) { %>
                                <li class="course__text">Dodatkowa godzina: <strong><ins><%= course.additionalPrice %>zł</ins></strong> </li>
                           <% } %>
                               <% if(course.installments.length != 0){ %>
                                    <li class="course__text">Raty:
                                        <ol>
                                            <% course.installments.forEach((installment) => { %>
                                                <% if (installment.description) { %>
                                                    <li class="course__text"><%= installment.amount %>zł - <%= installment.description %></li>
                                                <% } else { %>
                                                    <li class="course__text"><%= installment.amount %>zł</li>
                                                <% } %>
                                                <% if(currentUser){ %>
                                                    <a href="/courses/<%= course._id %>/installments/<%= installment._id %>/edit" class="course__text text-danger" style="font-size: 15px;">Edytuj ratę</a>
                                                    <a href="/courses/<%= course._id %>/installments/<%= installment._id %>/delete" class="course__text text-danger" style="font-size: 15px;">Usuń ratę</a>
                                                <% } %>
                                            <% }) %>
                                            
                                        </ol>
                                    </li>
                               <% } %>
                              
                               <li class="course__text">Wpłat można dokonywać za pomocą przelewu bankowego na konto <strong>09 1140 2004 0000 3402 6477 8965</strong></li>
                           </ul>
                           
                           
                           <% if(currentUser){ %>
                            <a href="/courses/<%= course._id %>/edit" class="btn btn-primary">Edytuj kurs</a>
                            <a href="/courses/<%= course._id %>/add/picture" class="btn btn-success">Dodaj zdjęcie</a>
                            <a href="/courses/<%= course._id %>/delete" class="btn btn-danger">Usuń kurs</a>
                            <% } %>
</main>
<script>
    $("#offer").addClass("active");
    
</script>
<%- include("../partials/footer") %>