<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-blue" id="name"> 
                    <br>                           
                   Edytuj biuro <%= office.name %>
                   
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                            <div class="col-lg-12">
                                    
                                    <form action="/driver/<%= driver_id %>/offices/<%= office._id %>?_method=PUT" method="post">
                                        
                                        <p class="info">Edytuj nazwę biura</p>
                                        <input type="text" placeholder="Nazwa biura" value="<%= office.name %>" name="office[name]" class="form-control">
                                            
                                            
                                      
                                        <br>
                                        
                                        <p class="info">Edytuj informację o godzinach otwarcia</p>
                                        <input type="text" name="office[openingHours]" value="<%= office.openingHours %>" placeholder="Informacja o godzinach otwarcia" class="form-control">
                                        <br>
                                        <p class="info">Edytuj adres do map Google</p>
                                        <input type="text" name="office[location]" value="<%= office.location %>" placeholder="Adres do map Google" class="form-control">
                                        <br>
                                        <p class="info">Edytuj co się znajduje w biurze</p>
                                        <input type="text" name="office[what]" value="<%= office.what %>" placeholder="Co się znajduje w biurze" class="form-control">
                                        <br>
                                        <p class="info">Edytuj dodatkową informację jak się wchodzi do biura</p>
                                        <input type="text" name="office[additional]" value="<%= office.additional %>" placeholder="Dodatkowa informacja" class="form-control">
                                        <br>
                                        
                                        <div class="d-inline">
                                            <input type="submit" value="Edytuj biuro" class="btn-blue">
                                            <input type="reset" value="Wyczyść" class="btn-blue">
                                        </div>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>