<%- include("../partials/header") %>
<main class="contact text-center" style="margin-top: 20px;">
    <h2 class="contact__header"><%= office.name %></h2>
    <p class="contact__text"><%= office.what %></p>
    <p class="contact__text">
        ul. <%= office.street %>
                                        <% if(office.additional){ %>
                                            <br>
                                            <%= office.additional %>
                                        <% } %>
                                        
                                        <br>
                                        <%= office.postalCode %> <%= office.city %>
    </p>
    <p class="contact__text"><%= office.openingHours %></p>
    <div id="map" style="width:100%; height: 400px"></div>
    <% if(currentUser){ %>
        <a href="/driver/<%= user._id %>/offices/<%= office._id %>/edit" class="info text-success">Edytuj biuro</a>
        <a href="/driver/<%= user._id %>/offices/<%= office._id %>/delete" class="info text-danger">Usuń biuro</a>
    <% } %>
    <div id="lat" style="display: none;">
        <%= office.lat %>
    </div>
    <div id="lng" style="display: none;">
        <%= office.lng %>
    </div>
</main>
<div id="eventCarousel" class="carousel slide contactCarousel" data-ride="carousel">
    
    <div class="carousel-inner">

        <% events.forEach((event, index) => { %>
            <div class="carousel-item text-center <%= index === 0 ? 'active': '' %>">
                <h3>Najbliższe kursy</h3>
                <p><%- `<strong>${event.office.city}</strong>, ${event.date} o godz ${event.time}, kategoria ${event.course?.category}` %></p>
                <a href="/applications/new?event_id=<%= event._id %>">Zapisz się!</a>
            </div>
        <% }) %>

    </div>
    <ol class="carousel-indicators">
        <% events.forEach((event, index) => { %>
            <% if(index === 0){ %>
                <li data-target="#eventCarousel" data-slide-to="<%= index %>" class="active"></li>
            <% } else { %>
                <li data-target="#eventCarousel" data-slide-to="<%= index %>"></li>
            <% } %>
        <% }) %>
    </ol>
    <a class="carousel-control-prev" href="#eventCarousel" role="button" data-slide="prev">
        <span><i class="fa fa-angle-left carousel-controls" aria-hidden="true"></i></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#eventCarousel" role="button" data-slide="next">
        <span><i class="fa fa-angle-right carousel-controls" aria-hidden="true"></i></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<script>
    function initMap() {
      var lat = parseFloat(document.getElementById("lat").innerText);
      var lng = parseFloat(document.getElementById("lng").innerText);
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: center,
          scrollwheel: false
      });
      var contactString = `
        <strong><%= office.name %><br />
        <%= office.street %>  <%= office.city %></strong>
      `
      var infowindow = new google.maps.InfoWindow({
        contact: contactString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKvmIASZjDfZNXZZn2fa4pGvR6T3cQTcA&callback=initMap"></script>
<script>
    $("#contact").addClass("active");
</script>
<%- include("../partials/footer") %>