<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-blue" id="name"> 
                    <br>                           
                   Edytuj element listy
                   
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                            <div class="col-lg-12">
                                    
                                    <form action="/subpages/<%= subpage_id %>/lists/<%= list_id %>/listElements/<%= listElement._id %>?_method=PUT" method="post">
                                    
                                        <p class="info">Edytuj tekst elementu</p>
                                        <textarea name="listElement[text]" id="textarea" placeholder="Tekst elementu" class="form-control">
                                            <%= listElement.text %>
                                        </textarea>
                                        
                                        <br>
                                        
                                        <div class="d-inline">
                                            <input type="submit" value="Edytuj element listy" class="btn-blue">
                                            <input type="reset" value="Wyczyść" class="btn-blue">
                                        </div>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>