<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 12%">
            <div id="form1">
                <a href="/subpages/<%= subpage.address %>">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do podstrony <%= subpage.name %>
                </a>
                <h1 class="login">Edytuj ważną informację na podstronę <%= subpage.name %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <form action="/subpages/<%= subpage._id %>/messages/<%= message._id %>?_method=PUT" method="post">

                    <p class="username">Edytuj tekst informacji</p>
                    <textarea name="messages[text]" id="textarea" placeholder="Tekst informacji" class="form-control" required><%= message.text %></textarea>

                    <br>

                    <input type="submit" value="Edytuj ważną informację" class="btn btn-danger button btn-gradient">
                    <input type="reset" value="Wyczyść" class="btn btn-dark button btn-black">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>