<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 12%">
            <div id="form1">
                <a href="/courses/<%= course.category %>">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony kategorii <%= course.category %>
                </a>
                <h1 class="login">Edytuj ratę kursu kategorii <%= course.category %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <form action="/courses/<%= course._id %>/installments/<%= installment._id %>?_method=PUT" method="post">


                    <p class="username">Edytuj kwotę raty</p>
                    <input type="number" name="installment[amount]" placeholder="Kwota raty"
                        value="<%= installment.amount %>" class="form-control" required>
                    <br>
                    <p class="username">Wpisz opis raty</p>
                    <input type="text" name="installment[description]" placeholder="Opis raty"
                        value="<%= installment.description %>" class="form-control" required>
                    <br>
                    <input type="submit" value="Edytuj ratę" class="btn btn-primary button btn-gradient">
                    <input type="reset" value="Wyczyść" class="btn btn-dark button btn-black">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>