<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 17%">
            <div id="form1">
                <a href="/courses/<%= course.category %>">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony kategorii <%= course.category %>
                </a>
                <h1 class="login">Dodaj cechę charakterystyczną kursu <%= course.category %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <form action="/courses/<%= course._id %>/characteristics" method="post">
                    <p class="username">Tekst cechy charakerystycznej</p>
                    <textarea name="text" id="textarea" placeholder="Tekst cechy charakerystycznej"
                        class="form-control"></textarea>
                    <br>

                    <input type="submit" value="Dodaj cechę charakterystyczną" class="btn btn-primary button btn-gradient">
                    <input type="reset" value="Wyczyść" class="btn btn-dark button btn-black">
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>numer telefonu</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" style="color:#212529; background: #fff;"><i class="fas fa-phone"></i></span>
                        </div>
                        <input type="tel" name="phone" placeholder="Nr telefonu" class="form-control">
                    </div>
                    
                    
                    <p class="username">Podaj adres email</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" style="color:#212529; background: #fff;"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" name="email" placeholder="Adres email" class="form-control">
                    </div>
                   
                    
                    <p class="username">Termin i miejsce, które wybrałeś</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" style="color:#212529; background: #fff;"><i class="fas fa-calendar"></i></span>
                        </div>
                        <select name="event" class="form-control" value="<%= event._id %>" id="select">
                            <option value="<%= event._id %>">
                                <%= event.city %>, <%= event.date %> godz. <%= event.time %>
                            </option>
    
                        </select>
                    </div>
                   
                
                    <input type="submit" value="Zapisz się" class="btn btn-primary button btn-gradient">

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>