<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 6%">
            <div id="form1">
                <a href="/courses/<%= event.course.category %>">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony kategorii <%= event.course.category %>
                </a>
                <h1 class="login">Zapisz się na kurs kategorii <%= event.course.category %></h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>

                <form action="/applications" method="POST">
                    <p class="username">Wpisz swoje imię i nazwisko</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" style="color:#212529; background: #fff;"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="name" placeholder="Imię i nazwisko" class="form-control" required>
                    </div>
                    
                    
                    <p class="username">Podaj numer telefonu</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" style="color:#212529; background: #fff;"><i class="fas fa-phone"></i></span>
                        </div>
                        <input type="tel" name="phone" placeholder="Nr telefonu" class="form-control" required>
                    </div>
                    
                    
                    <p class="username">Podaj adres email</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" style="color:#212529; background: #fff;"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" name="email" placeholder="Adres email" class="form-control" required>
                    </div>
                   
                    
                    <p class="username">Termin i miejsce, które wybrałeś</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" style="color:#212529; background: #fff;"><i class="fas fa-calendar"></i></span>
                        </div>
                        <select name="event" class="form-control" value="<%= event._id %>" id="select" required>
                            <option value="<%= event._id %>">
                                <%= event.office.city %>, <%= event.date %> godz. <%= event.time %>
                            </option>
    
                        </select>
                    </div>
                   
                
                    <input type="submit" value="Zapisz się" class="btn btn-danger button btn-gradient">

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>