<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-blue" id="name"> 
                    <br>                           
                   Edytuj cechę charakterystyczną
                   
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                            <div class="col-lg-12">
                                    
                                    <form action="/courses/<%= course_id %>/characteristics/<%= characteristic._id %>?_method=PUT" method="post">
                                        <textarea name="characteristic[text]" id="textarea" placeholder="Tekst cechy charakerystycznej" class="form-control"><%= characteristic.text %></textarea>
                                        <br>
                                        
                                        <div class="d-inline">
                                            <input type="submit" value="Edytuj cechę charakterystyczną" class="btn-blue">
                                            <input type="reset" value="Wyczyść" class="btn-blue">
                                        </div>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>