<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form" style="height: 100%">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 4%">
            <div id="form1">
                <a href="/subpages/<%= subpage.address %>">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do podstrony <%= subpage.name %>
                </a>
                <h1 class="login">Edytuj podstronę <%= subpage.name %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <form action="/subpages/<%= subpage._id %>?_method=PUT" method="post">
                    <p class="username">Edytuj nazwę podstrony</p>
                    <input type="text" placeholder="np. Strona Główna" value="<%= subpage.name %>" name="subpage[name]"
                        class="form-control" required>
                    <br>
                    <p class="username">Edytuj tytuł podstrony</p>
                    <input type="text" placeholder="np. Witamy" value="<%= subpage.title %>" name="subpage[title]"
                        class="form-control" required>



                    <br>
                    <p class="username">Edytuj podpis pod tytułem</p>
                    <input type="text" name="subpage[more]" placeholder="np. Na naszej stronie"
                        value="<%= subpage.more %>" class="form-control" required>
                    <br>
                    <p class="username">Edytuj opis podstrony</p>
                    <textarea name="subpage[text]" placeholder="Opis podstrony" id="textarea"
                        class="form-control" required><%= subpage.text %></textarea>

                    <br>

                    <input type="submit" value="Edytuj podstronę" class="btn btn-primary button btn-gradient">
                    <input type="reset" value="Wyczyść" class="btn btn-dark button btn-black">
                </form>
                <br>
                <ul class="info">
                    Poradnik formatowania tekstu opisu podstrony:
                    <li class="info">pogrubienie -
                        <pre
                            style="color:#212529"> <code> <span> &lt;strong&gt; wyraz lub wyrażenie &lt;/strong&gt; </span> </code>  </pre>
                    </li>
                    <li class="info">pochylenie -
                        <pre
                            style="color:#212529"> <code> <span> &lt;em&gt; wyraz lub wyrażenie &lt;/em&gt; </span> </code>  </pre>
                    </li>
                    <li class="info">podkreślenie -
                        <pre
                            style="color:#212529"> <code> <span> &lt;ins&gt; wyraz lub wyrażenie &lt;/ins&gt; </span> </code>  </pre>
                    </li>
                    <li class="info">przekreślenie -
                        <pre
                            style="color:#212529"> <code> <span> &lt;del&gt; wyraz lub wyrażenie &lt;/del&gt; </span> </code>  </pre>
                    </li>
                    <li class="info">akapity -
                        <pre style="color:#212529"> <code> <span> &lt;br&gt; </span> </code>  </pre>
                    </li>
                    <li class="info">niebieski tekst - np.
                        <pre
                            style="color:#212529"> <code> <span> &lt;del class="text-blue"&gt; wyraz lub wyrażenie &lt;/del&gt; </span> </code>  </pre>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>