<%- include("../partials/header") %>
<br>
<% if(subpage.name === "Strona Główna"){ %>
    <% if(announcements.length > 0){ %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info">
                        <%= announcements[announcements.length-1].text %>
                        <% if(currentUser){ %>
                            <a href="/announcements/<%= announcements[announcements.length-1]._id %>/edit" class="btn btn-dark">Edytuj</a>
                            <a href="/announcements/<%= announcements[announcements.length-1]._id %>/delete" class="btn btn-secondary">Usuń</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
            
    <% } %>
<% } %>

<% if(error.length > 0){ %>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            </div>
        </div>
    </div>
    
<% } %>
<% if(success.length > 0){ %>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            </div>
        </div>
    </div>
    
<% } %>

<% if(subpage.name === "Strona Główna"){ %>
    <header class="header">
        <div class="header__image">
            <img src="/logo 1.png" alt="logo">
        </div>
        <div class="header__title">
            <h1>Jazda motocyklem staje się łatwiejsza!</h1>
        </div>
        
    </header>
    
<% } %>

<div id="eventCarousel" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">

        <% events.forEach((event, index) => { %>
            <div class="carousel-item text-center <%= index === 0 ? 'active': '' %>">
                <h3>Najbliższe kursy</h3>
                <p><%- `<strong>${event.office.city}</strong>, ${event.date} o godz ${event.time}, kategoria ${event.course?.category}` %></p>
                <a href="/applications/new?event_id=<%= event._id %>">Zapisz się!</a>
            </div>
        <% }) %>

    </div>
    <ol class="carousel-indicators">
        <% events.forEach((event, index) => { %>
            <% if(index === 0){ %>
                <li data-target="#eventCarousel" data-slide-to="<%= index %>" class="active"></li>
            <% } else { %>
                <li data-target="#eventCarousel" data-slide-to="<%= index %>"></li>
            <% } %>
        <% }) %>
    </ol>
    <a class="carousel-control-prev" href="#eventCarousel" role="button" data-slide="prev">
        <span><i class="fa fa-angle-left carousel-controls" aria-hidden="true"></i></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#eventCarousel" role="button" data-slide="next">
        <span><i class="fa fa-angle-right carousel-controls" aria-hidden="true"></i></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<main class="content">
    <h2 class="content__header"><%= subpage.title %> <%= subpage.more %></h2>
    <p class="content__text">
        <%- subpage.text %>
    </p>
        <% if(lists.length !== 0){ %>
            <% lists.forEach((list) => { %>
                <ul class="content__list">
                    <h3 class="content__header">
                        <%= list.title %>
                        <% if(currentUser){ %>
                            <a href="/subpages/<%= subpage._id %>/lists/<%= list._id %>/edit" class="info text-success">Edytuj tytuł</a>
                            <a href="/subpages/<%= subpage._id %>/lists/<%= list._id %>/delete" class="info text-danger">Usuń listę</a>
                            <a href="/subpages/<%= subpage._id %>/lists/<%= list._id %>/listElements/new" class="info text-primary">Dodaj element listy</a>
                        <% } %>
                    </h3>
                    <% list.elements.forEach((element) => { %>
                        <li class="content__text">
                            <%- element.text %>
                            <% if(currentUser){ %>
                                <a href="/subpages/<%= subpage._id %>/lists/<%= list._id %>/listElements/<%= element._id %>/edit" class="info text-success">Edytuj element listy</a>
                                <a href="/subpages/<%= subpage._id %>/lists/<%= list._id %>/listElements/<%= element._id %>/delete" class="info text-danger">Usuń element listy</a>
                            <% } %>
                        </li>
                    <% }) %>
                </ul>
            <% }) %>
        <% } %>
    <% if(subpage.message){ %>
        <p class="content__message"><%= subpage.message.text %></p>
        <% if(currentUser){ %>
            <a href="/subpages/<%= subpage._id %>/messages/<%= subpage.message._id %>/edit" class="info text-success">Edytuj ważną informację</a>
            <a href="/subpages/<%= subpage._id %>/messages/<%= subpage.message._id %>/delete" class="info text-danger">Usuń ważną informację</a>
    
        <% } %>
    <% } %>  
    <% if(currentUser){ %>
        <ul class="info">
            <strong>Modyfikacja:</strong>
            <li>
                <a href="/subpages/<%= subpage._id %>/edit" class="info text-success">Edytuj podstronę</a>
            </li>
            <li>
                <a href="/subpages/<%= subpage._id %>/delete" class="info text-danger">Usuń podstronę</a>
            </li>
            <li>
                <a href="/subpages/<%= subpage._id %>/lists/new" class="info text-primary">Dodaj nową listę</a>
            </li>
            <% if(!subpage.message){ %>
                <li>
                    <a href="/subpages/<%= subpage._id %>/messages/new" class="info text-secondary">Dodaj nową ważną informację</a>
                </li>
            <% } %>
            
            <li>
                <a href="/subpages/<%= subpage._id %>/add/picture" class="info text-dark">Dodaj nowe zdjęcie na podstronę</a>
            </li>
        </ul>
    <% } %>
</main>

    <% if(subpage.name === "Strona Główna"){ %>
        <script>
            $("#home").addClass("active");
        </script>
    <% } else if(subpage.name === "O nas"){ %>
        <script>
            $("#about").addClass("active");
        </script>
    <% } else { %>
        <script>
            $("#pkk").addClass("active");
        </script>
    <% } %>
    
<%- include("../partials/footer") %>   